<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>BetterInformatics - {{ name }}</title>
        <meta name="description" content="BetterInformatics - page {{name}}">
        <link rel="icon" href="../../favicon.ico">

        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/page.css">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Better Informatics</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"
                     aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        {% for page in pages %}
                        {% if page == name %}
                        <li class="active"><a href="/pages/{{page}}" class="item">{{ page }}</a></li>
                        {% else %}
                        <li><a href="/pages/{{page}}" class="item">{{ page }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <form action="/pages/{{name}}/edit/publish" method="post">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary-outline btn-lg"
                                type="submit">
                            Publish new changes
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-md-8">
                        <div class="md-input">
                            <form class="form" role="form">
                                <div class="form-group">
                                    <label for="comment">Editing page "{{name}}" (revision #{{revision}}):</label>
                                    <textarea class="form-control" rows="20"
                                              style="min-width: 100%" name="textarea">{{content}}</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <p class="text-muted">
                        <!-- that\'s right, it\'s a copyleft symbol : ) -->
                        <!--[if lte ie 8]>
                            <span style="filter: fliph; -ms-filter: "fliph"; display: inline-block;">
                        <![endif]-->
                        <span style="-moz-transform: scalex(-1);
                                     -o-transform: scalex(-1);
                                     -webkit-transform: scalex(-1);
                                     transform: scalex(: -1px;);
                                     display: inline-block;">
                            &copy;
                        </span>
                        <!--[if lte ie 8]></span><![endif]-->
                        <a href="https://wiki.tardis.ed.ac.uk/index.php/main_page">
                            The Tardis Project
                        </a>
                        -
                        <a href="https://github.com/edran/betterinformatics">
                            Fork me on Github!
                        </a>
                    </p>
                </div>
            </div>
        </footer>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>
